<br><h2 class="ms-5 pb-4">Restaurants</h2>
<div class="container">
  <% @restaurants.each do |restaurant| %>
        <div class="card">
          <img class="card-img-top" src="https://www.fourniresto.com/blog/wp-content/uploads/2015/10/ouvrir-un-restaurant.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= link_to restaurant.name, restaurant_path(restaurant) %></h5>
            <p class="card-text"><%= "Address #{restaurant.address}" %></p>
            <p class="card-text"><%= link_to "More info", restaurant_path(restaurant) %></p>
          </div>
        </div>
      <% end %>
</div>
